{%extends "main/base.html"%}
{%load static%}

{%block title%}
Apendice
{%endblock title%}

{%block content%}
{%include 'main/nav.html'%}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <h2 class="text-center">Apendice</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <form action="" class="pt-3" style="display: none">
                                    {%csrf_token%}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label for="form_contrato" class="col-md-2">CONTRATO</label>
                                                <select class="form-control form-control-sm col-md-10"
                                                    id="form_contrato">
                                                    {% for contrato in contratos%}
                                                    <option value="{{ contrato.pk }}">{{ contrato.COMENTARIO }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="row">
                                                <label for="des_apendice" class="col-md-2">APENDICE</label>
                                                <input class="form-control form-control-sm col-md-10"
                                                    id="form_des_apendice">
                                            </div>
                                            <div class="row">
                                                <label for="form_vendedor" class="col-md-2">VENDEDOR</label>
                                                <select class="form-control form-control-sm col-md-10"
                                                    id="form_vendedor">
                                                    {% for vendedor in vendedors %}
                                                    <option value="{{ vendedor.pk }}">{{ vendedor.NOMBRE_VENDEDOR }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="row">
                                                <label for="form_fecha_inicio" class="col-md-2">FECHA INICIO</label>
                                                <input class="form-control form-control-sm col-md-5"
                                                    data-inputmask="'alias': 'datetime'" id="form_fecha_inicio" />
                                            </div>
                                            <div class="row">
                                                <label for="form_fecha_fin" class="col-md-2">FECHA FIN</label>
                                                <input class="form-control form-control-sm col-md-5"
                                                    data-inputmask="'alias': 'datetime'" id="form_fecha_fin" />
                                            </div>
                                            <div class="row">
                                                <label for="form_fecha_fin_oc_cliente" class="col-md-2">FECHA FIN OC
                                                    CLIENTE</label>
                                                <input class="form-control form-control-sm col-md-5"
                                                    data-inputmask="'alias': 'datetime'"
                                                    id="form_fecha_fin_oc_cliente" />
                                            </div>
                                            <div class="row">
                                                <label for="form_estado" class="col-md-2">ESTADO</label>
                                                <select class="form-control form-control-sm col-md-10" id="form_estado">
                                                    {% for estado in estados %}
                                                    <option value="{{ estado.pk }}">{{ estado.DES_ESTADO }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-10"></div>
                                    <div class="col-md-2 text-right">
                                        <button class="btn btn-outline-dark btn-sm" id="showmodal"><i
                                                class="fa fa-plus-circle"></i>
                                            Añadir nuevo</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr class="">
                                                        <th>No.</th>
                                                        <th>Codigo Producto</th>
                                                        <th>Descripcion</th>
                                                        <th>Metrica</th>
                                                        <th>Bloques</th>
                                                        <th>Cantidad</th>
                                                        <th>Valor Unitario</th>
                                                        <th>Total </th>
                                                        <th>Descuento Cliente</th>
                                                        <th>Valor Venta</th>
                                                        <th>Descuento Vendor</th>
                                                        <th>Costo Vendor</th>
                                                        <th>Comision Partner</th>
                                                        <th>Costo Partner</th>
                                                        <th>Costo Total</th>
                                                        <th>Margen CS</th>
                                                        <th>Margen CS</th>
                                                        <th>Funcion</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in arr %}

                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{item.apendice.ID_PRODUCTO.COD_PRODUCTO}}</td>
                                                        <td>{{item.apendice.ID_PRODUCTO.DES_PRODUCTO}} </td>
                                                        <td>{{item.apendice.ID_PRODUCTO.METRICA}}</td>
                                                        <td>{{item.apendice.ID_PRODUCTO.BLOQUES}}</td>
                                                        <td>{{item.apendice.CANTIDAD}}</td>
                                                        <td>{{item.apendice.VALOR_UNITARIO}}</td>
                                                        <td>{{item.apendice.TOTAL}}</td>
                                                        <td>{{item.apendice.PORCENTAJE_DTO_CLIENTE}}%</td>
                                                        <td>{{item.apendice.VALOR_VENTA}}</td>
                                                        <td>{{item.apendice.PORCENTAJE_DTO_VENDOR}}%</td>
                                                        <td>{{item.apendice.COSTO_VENDOR}}</td>
                                                        <td>{{item.apendice.PORCENTAJE_COM_PARTNER}}%</td>
                                                        <td>{{item.apendice.COSTO_PARTNER}}</td>
                                                        <td>{{item.apendice.COSTO_TOTAL}}</td>
                                                        <td>{{item.apendice.MARGEN}}</td>
                                                        <td>{{ item.amu }}%</td>
                                                        <td class="text-right">
                                                            <button class="btn btn-light text-primary" type="button"
                                                                id="copy_btn" name="copy_btn"
                                                                onclick="copydata({{ apendice.pk }})">
                                                                <i class="fas fa-copy text"></i> Copy</a>
                                                            </button>
                                                            <button class="btn btn-light text-success" type="button"
                                                                id="edit_btn" name="edit_btn"
                                                                onclick="showedit({{ apendice.pk }})">
                                                                <i class="fas fa-edit text"></i> Edit</a>
                                                            </button>
                                                            <button class="btn btn-light text-danger" id="delete_btn"
                                                                onclick="delete_div({{ apendice.pk }})">
                                                                <i class="fas fa-trash-alt"></i>
                                                                Remove
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>


                                        </div>
                                        <hr>
                                        <form action="" class="pt-3" style="display:none">
                                            {%csrf_token%}
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h3 class="text-center">Contacto</h3>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="row">
                                                                <label for="nombre1" class="col-md-4">NOMBRE1</label>
                                                                <input class="form-control form-control-sm col-md-8"
                                                                    id="nombre1">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-5">
                                                            <div class="row">
                                                                <label for="nombre2" class="col-md-4">NOMBRE2</label>
                                                                <input class="form-control form-control-sm col-md-8"
                                                                    id="nombre2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="row">
                                                                <label for="mail1" class="col-md-4">MAIL1</label>
                                                                <input type="email"
                                                                    class="form-control form-control-sm col-md-8"
                                                                    id="mail1">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-5">
                                                            <div class="row">
                                                                <label for="mail2" class="col-md-4">MAIL2</label>
                                                                <input type="email"
                                                                    class="form-control form-control-sm col-md-8"
                                                                    id="mail2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="row">
                                                                <label for="telefono1" class="col-md-4">Telefono</label>
                                                                <input class="form-control form-control-sm col-md-8"
                                                                    id="telefono1">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-5">
                                                            <div class="row">
                                                                <label for="telefono2" class="col-md-4">Telefono</label>
                                                                <input class="form-control form-control-sm col-md-8"
                                                                    id="telefono2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 form-group">
                                                            <div class="row">
                                                                <label for="form_comentario"
                                                                    class="col-md-2">COMENTARIO</label>
                                                                <textarea name="form_comentario" id="form_comentario"
                                                                    class="form-control form-control-sm col-md-10"
                                                                    rows="4" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>



<!-- Add New modal -->
<div class="modal fade" id="Add_Modal" tabindex="1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Add Item.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="pt-3">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="des_apendice">DESCRIPCION APENDICE</label>
                                    <input class="form-control form-control-sm" id="new_des_apendice" required>
                                </div>
                                <div class="col-md-4">
                                    <label for="new_contrato">CONTRATO</label>
                                    <select class="form-control form-control-sm" id="new_contrato"></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="new_contacto">CONTACTO</label>
                                    <select class="form-control form-control-sm" id="new_contacto"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-check">
                                    <label class="form-check-label" style="font-size: 1rem">
                                        FINALIZADO <input type="checkbox" style="margin-left: 20px"
                                            class="form-check-input" id="new_filnalizado" value="1">
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="new_estado">ESTADO</label>
                                    <select class="form-control form-control-sm" id="new_estado"></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="new_vendedor">VENDEDOR</label>
                                    <select class="form-control form-control-sm" id="new_vendedor"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="new_fecha_inicio">FECHA INICIO</label>
                                    <input class="form-control form-control-sm" data-inputmask="'alias': 'datetime'"
                                        id="new_fecha_inicio" required />
                                </div>
                                <div class="col-md-4">
                                    <label for="new_fecha_fin">FECHA FIN</label>
                                    <input class="form-control form-control-sm" data-inputmask="'alias': 'datetime'"
                                        id="new_fecha_fin" required />
                                </div>
                                <div class="col-md-4">
                                    <label for="new_fecha_fin_oc_cliente">FECHA FIN OC CLIENTE</label>
                                    <input class="form-control form-control-sm" data-inputmask="'alias': 'datetime'"
                                        id="new_fecha_fin_oc_cliente" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="new_comentario">COMENTARIO</label>
                                    <textarea name="new_comentario" id="new_comentario"
                                        class="form-control form-control-sm" rows="2" required></textarea>
                                </div>
                            </div>
                            <div class="row" style="text-align: right">
                                <button type="button" class="btn btn-success" id="newproductbtn">Añadir
                                    Producto</button>
                            </div>
                            <div class="row" id="productsapendice">
                                <div class="row" id="new_products">
                                    <div class="col-md-2">
                                        <input type="text" id="new_cod_producto" placeholder="Codigo"
                                            class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="new_des_producto" placeholder="Descripcion"
                                            class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control form-control-sm" id="new_tipo_producto"
                                            required></select>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="new_metrica" placeholder="Metrica"
                                            class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" id="new_bloques" placeholder="Bloques"
                                            class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" id="new_minimo" placeholder="Minimo"
                                            class="form-control form-control-sm" required>
                                    </div>
                                </div>
                                <div class="row" id="apendices">
                                    <div class="col-md-2">
                                        <input type="text" id="new_posicion" placeholder="Posicion"
                                            class="form-control form-control-sm" min="1" max="10" required disabled>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Apendice" id="new_apendice"
                                            class="form-control form-control-sm" required disabled>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Producto" id="new_producto"
                                            class="form-control form-control-sm" required disabled>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" id="new_cantidad" placeholder="Cantidad"
                                            class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" id="new_valor_unitario" placeholder="Valor Unitario"
                                            class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="new_total" placeholder="Total"
                                            class="form-control form-control-sm" required disabled>
                                    </div>
                                </div>
                                <div class="row" id="apendice">
                                    <div class="col-md-2">
                                        <select id="new_tipo_posicion" placeholder="Tipo Posicion"
                                            class="form-control form-control-sm" required></select>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" id="new_descuento_cliente" placeholder="% Des Cliente"
                                            class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="new_valor_venta" placeholder="Venta"
                                            class="form-control form-control-sm" required disabled>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" id="new_descuento_vendor" placeholder="% Des Vendor"
                                            class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="new_costo_vendor" placeholder="Costo"
                                            class="form-control form-control-sm" required disabled>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" id="new_comision_partner" placeholder="% Com Partner"
                                            class="form-control form-control-sm" required>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" id="new_costo_partner" placeholder="Partner"
                                            class="form-control form-control-sm" required disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" id="new_costo_total" placeholder="Tatal"
                                            class="form-control form-control-sm" required disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" id="new_margen" placeholder="Margen"
                                            class="form-control form-control-sm" required disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-md btn-danger" name="deletebutton"
                                            id="delete_div"><i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" id="input_error">
                        <p class="text-danger" style="text-align: center">Input is not valid</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="add_btn">Guardar</button>
                <button type="submit" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit_Modal" tabindex="1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Edit Item.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="pt-3">
                    {%csrf_token%}
                    <input type="text" class="form-control form-control-sm" id="id" name="id" placeholder="" hidden>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="des_apendice">DES APENDICE</label>
                            <input class="form-control form-control-sm" id="des_apendice">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="contrato">CONTRATO</label>
                            <select class="form-control form-control-sm" id="contrato"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="contacto">CONTACTO</label>
                            <select class="form-control form-control-sm" id="contacto"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="estado">ESTADO</label>
                            <select class="form-control form-control-sm" id="estado"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="vendedor">VENDEDOR</label>
                            <select class="form-control form-control-sm" id="vendedor"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="fecha_inicio">FECHA INICIO</label>
                            <input class="form-control form-control-sm" data-inputmask="'alias': 'datetime'"
                                id="fecha_inicio" />
                        </div>
                        <div class="col-md-6">
                            <label for="fecha_fin">FECHA FIN</label>
                            <input class="form-control form-control-sm" data-inputmask="'alias': 'datetime'"
                                id="fecha_fin" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-check">
                            <label class="form-check-label" style="font-size: 1rem">
                                FINALIZADO <input type="checkbox" style="margin-left: 20px" class="form-check-input"
                                    id="filnalizado" value="1">
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label for="fecha_fin_oc_cliente">FECHA FIN OC CLIENTE</label>
                            <input class="form-control form-control-sm" data-inputmask="'alias': 'datetime'"
                                id="fecha_fin_oc_cliente" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="comentario">COMENTARIO</label>
                            <textarea name="comentario" id="comentario" class="form-control form-control-sm"
                                rows="4"></textarea>
                        </div>
                    </div>
                    <div class="row text-center" id="input_error2">
                        <p class="text-danger">Input is not valid</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="update_btn">Guardar</button>
                <button type="submit" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}

{%block javascript%}
<script src="{%static '/js/custom/apendice.js'%}"></script>



{%endblock javascript%}