{%extends "main/base.html"%}
{%load static%}

{%block title%}
<title>Invoice</title>
{%endblock title%}

{%block content%}
{%include 'main/nav.html'%}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <h2 class="text-center">Invoice</h2>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <button class="btn btn-outline-primary btn-sm" id="showmodal"><i class="fa fa-plus-circle"></i>
                                            Añadir nuevo</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr class="">
                                                        <th>No.</th>
                                                        <th>PROVEEDOR</th>
                                                        <th>UNIDAD NEGOCIO</th>
                                                        <th>SOCIEDAD</th>
                                                        <th>PAIS</th>
                                                        <th>CLIENTE</th>
                                                        <th>CONTACTO</th>
                                                        <th>TIPO CONTRATO</th>
                                                        <th>REGION</th>
                                                        <th>FECHA FIRMA</th>
                                                        <th>FECHA INICIO</th>
                                                        <th>FECHA FIN</th>
                                                        <th>FINALIZADO</th>
                                                        <th>COMENTARIO</th>
                                                        <th>Funcion</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for contract in contracts %}
                                                    <tr>
                                                        <td>{{contract.pk}}</td>
                                                        <td>{{contract.ID_PROVEEDOR.DES_PROVEEDOR}}</td>
                                                        <td>{{contract.ID_UNIDAD_NEGOCIO.DES_UNIDAD_NEGOCIO}}</td>
                                                        <td>{{contract.ID_SOCIEDAD.RAZON_SOCIAL}}</td>
                                                        <td>{{contract.ID_PAIS.DES_PAIS}}</td>
                                                        <td>{{contract.ID_CLIENTE.RAZON_SOCIAL}}</td>
                                                        <td>{{contract.ID_CONTACTO.MAIL}}</td>
                                                        <td>{{contract.ID_TIPO_CONTRATO.DES_TIPO_CONTRATO}}</td>
                                                        <td>{{contract.ID_REGION.DES_REGION}}</td>
                                                        <td>{{contract.FECHA_FIRMA}}</td>
                                                        <td>{{contract.FECHA_INICIO}}</td>
                                                        <td>{{contract.FECHA_FIN}}</td>
                                                        <td>{{contract.FINALIZADO}}</td>
                                                        <td>{{contract.COMENTARIO}}</td>
                                                        <td class="text-right">
                                                            <button class="btn btn-light text-success" type="button"
                                                                id="edit_btn" name="edit_btn"
                                                                onclick="showedit({{ contract.pk }})">
                                                                <i class="fas fa-edit text"></i> Edit</a>
                                                            </button>
                                                            <button class="btn btn-light text-danger" id="delete_btn" onclick="delete_item({{ contract.pk }})">
                                                                    <i class="fas fa-trash-alt"></i>
                                                                    Remove
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- Add New modal -->
<div class="modal fade" id="Add_Modal" tabindex="1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Add Item.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="pt-3">
                    {%csrf_token%}
                    <input type="text" class="form-control form-control-sm" id="id" name="id" placeholder=""
                        hidden>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="proveedor">PROVEEDOR</label>
                            <select class="form-control form-control-sm" id="new_proveedor"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="unidad_negocio">UNIDAD NEGOCIO</label>
                            <select class="form-control form-control-sm" id="new_unidad_negocio"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="sociedad">SOCIEDAD</label>
                            <select class="form-control form-control-sm" id="new_sociedad"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="pais">PAIS</label>
                            <select class="form-control form-control-sm" id="new_pais"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="cliente">CLIENTE</label>
                            <select class="form-control form-control-sm" id="new_cliente"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="contacto">CONTACTO</label>
                            <select class="form-control form-control-sm" id="new_contacto"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tipo_contrato">TIPO CONTRATO</label>
                            <select class="form-control form-control-sm" id="new_tipo_contrato"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="region">REGION</label>
                            <select class="form-control form-control-sm" id="new_region"></select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="finalizado">FINALIZADO</label>
                        <input type="text" class="form-control form-control-sm" id="new_finalizado"
                            name="finalizado" placeholder="FINALIZADO" required>
                            <label for="comentario">COMENTARIO</label>
                        <input type="text" class="form-control form-control-sm" id="new_comentario"
                            name="comentario" placeholder="COMENTARIO" required>
                    </div>
                    <div class="row" id="input_error">
                        <p class="text-danger">Input is not valid</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="add_btn">Submit</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit_Modal" tabindex="1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Edit Item.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="pt-3">
                    {%csrf_token%}
                    <input type="text" class="form-control form-control-sm" id="up_id" name="up_id" placeholder=""
                        hidden>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="proveedor">PROVEEDOR</label>
                            <select class="form-control form-control-sm" id="proveedor"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="unidad_negocio">UNIDAD NEGOCIO</label>
                            <select class="form-control form-control-sm" id="unidad_negocio"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="sociedad">SOCIEDAD</label>
                            <select class="form-control form-control-sm" id="sociedad"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="pais">PAIS</label>
                            <select class="form-control form-control-sm" id="pais"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="cliente">CLIENTE</label>
                            <select class="form-control form-control-sm" id="cliente"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="contacto">CONTACTO</label>
                            <select class="form-control form-control-sm" id="contacto"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tipo_contrato">TIPO CONTRATO</label>
                            <select class="form-control form-control-sm" id="tipo_contrato"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="region">REGION</label>
                            <select class="form-control form-control-sm" id="region"></select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="finalizado">FINALIZADO</label>
                        <input type="text" class="form-control form-control-sm" id="finalizado"
                            name="finalizado" placeholder="FINALIZADO" required>
                            <label for="comentario">COMENTARIO</label>
                        <input type="text" class="form-control form-control-sm" id="comentario"
                            name="comentario" placeholder="COMENTARIO" required>
                    </div>
                    <div class="row" id="input_error2">
                        <p class="text-danger">Input is not valid</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="update_btn">Submit</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}

{%block javascript%}
<script src="{%static '/js/custom/contracts.js'%}"></script>

{%endblock javascript%}