{%extends "main/base.html"%}
{%load static%}

{%block title%}
<title>Producto</title>
{%endblock title%}

{%block content%}
{%include 'main/nav.html'%}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <h2 class="text-center">Producto</h2>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <button class="btn btn-outline-primary btn-sm" id="showmodal"><i
                                                class="fa fa-plus-circle"></i>
                                            Añadir nuevo</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr class="">
                                                        <th>No.</th>
                                                        <th>TIPO PRODUCTO</th>
                                                        <th>COD PRODUCTO</th>
                                                        <th>DES PRODUCTO</th>
                                                        <th>METRICA</th>
                                                        <th>BLOQUES</th>
                                                        <th>MINIMO</th>
                                                        <th>FUNCION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for producto in productos %}

                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{producto.ID_TIPO_PRODUCTO.DES_TIPO_PRODUCTO}}</td>
                                                        <td>{{producto.COD_PRODUCTO}}</td>
                                                        <td>{{producto.DES_PRODUCTO}}</td>
                                                        <td>{{producto.METRICA}}</td>
                                                        <td>{{producto.BLOQUES}}</td>
                                                        <td>{{producto.MINIMO}}</td>
                                                        <td class="text-right">
                                                            <button class="btn btn-light text-success" type="button"
                                                                id="edit_btn" name="edit_btn"
                                                                onclick="showedit({{ producto.pk }})">
                                                                <i class="fas fa-edit text"></i> Edit</a>
                                                            </button>
                                                            <button class="btn btn-light text-danger" id="delete_btn"
                                                                onclick="delete_item({{ producto.pk }})">
                                                                <i class="fas fa-trash-alt"></i>
                                                                Remove
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- Add New modal -->
<div class="modal fade" id="Add_Modal" tabindex="1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Add Item.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="pt-3">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="new_tipo_producto">TIPO PRODUCTO</label>
                            <select class="form-control form-control-sm" id="new_tipo_producto"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="new_cod_producto">COD PRODUCTO</label>
                            <input class="form-control form-control-sm" id="new_cod_producto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="new_des_producto">DES PRODUCTO</label>
                            <input class="form-control form-control-sm" id="new_des_producto">
                        </div>
                        <div class="col-md-6">
                            <label for="new_metrica">METRICA</label>
                            <input class="form-control form-control-sm" id="new_metrica">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="new_bloques">BLOQUES</label>
                            <input class="form-control form-control-sm" type="number" id="new_bloques" />
                        </div>
                        <div class="col-md-6">
                            <label for="new_minimo">MINIMO</label>
                            <input class="form-control form-control-sm" type="number" id="new_minimo" />
                        </div>
                    </div>
                    <div class="row text-center" id="input_error">
                        <p class="text-danger">Input is not valid</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="add_btn">Submit</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit_Modal" tabindex="1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Edit Item.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="pt-3">
                    {%csrf_token%}
                    <input type="text" class="form-control form-control-sm" id="id" name="id" placeholder="" hidden>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tipo_producto">TIPO PRODUCTO</label>
                            <select class="form-control form-control-sm" id="tipo_producto"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="cod_producto">CONTACTO</label>
                            <input class="form-control form-control-sm" id="cod_producto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="des_producto">DES PRODUCTO</label>
                            <input class="form-control form-control-sm" id="des_producto">
                        </div>
                        <div class="col-md-6">
                            <label for="metrica">METRICA</label>
                            <input class="form-control form-control-sm" id="metrica">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="bloques">BLOQUES</label>
                            <input class="form-control form-control-sm" type="number" id="bloques" />
                        </div>
                        <div class="col-md-6">
                            <label for="minimo">MINIMO</label>
                            <input class="form-control form-control-sm" type="number" id="minimo" />
                        </div>
                    </div>
                    <div class="row text-center" id="input_error2">
                        <p class="text-danger">Input is not valid</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="update_btn">Submit</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}

{%block javascript%}
<script src="{%static '/js/custom/producto.js'%}"></script>

{%endblock javascript%}